body {
    padding: 10px;
}

.auction-list {
    max-height: 25vh;
}

img.listing-img {
    max-height: 50vh;
}

.menu-spacing {
    box-sizing: border-box;
    height: 5.3rem;
}

.timestamp {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.price {
    font-size: 1.7em;
    margin-bottom: 0.3em;
}

.highest-bid {
    font-size: 1.2em;
}