<!-- Footer -->
<footer class="container-fluid bg-dark text-light p-3">
    <div class="row justify-content-evenly">
        <div class="col-auto">
            <dl>
                <dt class="fs-5 mb-1">Contact</dt>
                <dd>
                    <i class="bi bi-whatsapp"></i>
                    <span>+11964858088</span>
                </dd>
            </dl>
        </div>
        <div class="col-auto">
            <dl>
                <dt class="fs-5 mb-1">Social Media</dt>
                <dd>
                    <a href="https://www.linkedin.com/in/william-fernandes-dias-b6a246217/" class="link-light text-decoration-none">
                        <i class="bi bi-linkedin"></i>
                        Linked In
                    </a>
                </dd>
                <dd>
                    <a class="link-light text-decoration-none" href="https://github.com/William-Fernandes252">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</footer>