<!-- Navigation -->
<nav class="bg-light navbar border navbar-expand-md fixed-top navbar-light" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><h1 class=>Auctions <i class="bi bi-coin"></i></h1></a>
        <button aria-control="navbar" aria-expand="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mt-2">
                <li class="nav-item">
                    <form class="form-inline" action="{% url 'search' %}" method="get">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                        <button class="btn my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </li>
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle active text-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'category' 'Home' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'category' 'Fashion' %}">Fashion</a>
                        <a class="dropdown-item" href="{% url 'category' 'Eletronics' %}">Eletronics</a>
                        <a class="dropdown-item" href="{% url 'category' 'Toys' %}">Toys</a>
                        <a class="dropdown-item" href="{% url 'category' 'Sports' %}">Sports</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link active text-primary" href="{% url 'watchlist' %}">
                        Watchlist
                        {% if user.watchlist.count > 0%}
                        <div class="watchlist-count d-inline p-1 rounded bg-dark text-white">
                            {{ user.watchlist.count }}
                        </div>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="nav-link active text-primary" href="{% url 'create' %}">Create Listing</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link disabled text-dark" href="">Sined in as <strong>{{ user }}</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>