{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <aside class="sidebar sidebar-fixed pe-3 bg-light">
                <h3 class="mt-3">Latest Bids</h3>
                <hr class="mt-0">
                <div class="list-group list-group-flush">
                    {% for bid in latest_bids %}
                    <a href="{% url 'listing' bid.listing.id %}" class="list-group-item list-group-item-action mb-2">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ bid.listing.title }}</h5>
                            <small></small>
                        </div>
                        <p class="mb-1">${{ bid.value }} by {{ bid.user.username }}</p>
                        <small>On {{ bid.creation_time }}</small>
                    </a>
                    {% endfor %}
                </div>
            </aside>
            <main class="main col bg-white px-4">
                <h2 class="display-4 my-4 ms-3">{{ title }}</h2>
                <div class="row row-cols-lg-3 row-cols-sm-2 g-4">
                    {% for listing in page_obj %}
                    <div class="col">
                        <div class="card">
                            {% if listing.image %}
                            <img class="img-fluid card-img-top" src="{{ listing.image.url }}" alt="{{ listing.title }}">
                            {% else %}
                            <img class="img-fluid card-img-top" src="{{ default_listing_img }}" alt="{{ listing.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title text-truncate">{{ listing.title }}</h3>
                                <p class="mb-1"><span class="price">${{ listing.initial_price }}</span></p>
                                <p class="text-muted text-truncate mb-0">Created on {{ listing.creation_time }}</p>
                            </div>
                            <a href="{% url 'listing' listing.id %}" target="_blank" class="stretched-link"></a>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation" class="mt-3">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link link-warning" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link link-warning" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                                {% if page_obj.number == page_number %}
                                <li class="page-item active">
                                    <a class="page-link link-warning" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link link-warning" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link link-warning" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        <li class="page-item"><a class="page-link link-warning" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </main>
        </div>
    </div>
{% endblock %}