{% extends "base.html" %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
    <main class="mb-3 mt-3 border bg-white mx-lg-5">
        <section class="conteiner">
            <div class="row">
                <div class="col-5 m-3">
                    {% if listing.image %}
                    <img class="img-fluid" src={{ listing.image.url }} alt="{{ listing.title }}">
                    {% else %}
                    <img class="img-fluid" src={{ default_listing_img }} alt="{{ listing.title }}">                    
                    {% endif %}
                </div>
                <div class="col-6 m-3">
                    <h2 class="display-5">{{ listing.title }}</h2>
                    <hr>
                    <dl class="vstack gap-1">
                        <dt class="fs-4">Description</dt>
                        <dd class="fs-5">{{ listing.description }}</dd>
                        {% if days and hours and minutes %}
                        <dt class="fs-4">Time remaining</dt>
                        <dd class="fs-4">{{ days }}d:{{ hours }}h:{{ minutes}}m</li>
                        {% endif %}
                        <dt class="fs-4">Initial Price</dt>
                        <dd class="display-5">${{ listing.initial_price }}</dd>
                        <dt class="fs-4">Status</dt>
                        <dd class="fs-5">
                        {% if finished %}
                            This Auctions is finished.
                        {% else %}
                            {{ listing.bids.count }} bid(s) so far.
                            {% if current_bid %} Your bid is the current bid.{% endif %}
                        {% endif %}
                        </dd>
                        {% if listing.bids.count %}
                        <dt class="fs-4">Highest Bid</dt>
                        {% if highest_bid %}
                        <dd>
                            <span class="fw-bold highest-bid">${{ highest_bid }}</span>
                        </dd>
                        {% endif %}
                    </dl>
                    {% endif %}
                    <div class="row">
                        <form class="form-floating col-auto" action="{% url 'bid' listing.id %}" method="post" id="listing_form">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ bid_form.value }}
                                <label for="{{ bid_form.value.id_for_label }}" class="visually-hidden"></label>
                                <button class="btn btn-success" type="submit" name="bid_submit" id="bid-btn">
                                    Place Bid <i class="bi bi-cash-stack"></i>
                                </button>
                            </div>
                        </form>
                        <form action="{% url 'watch' listing.id %}" method="post" class="col-auto">
                            {% csrf_token %}
                            {% if watching %}
                            <button type="submit" class="btn btn-secondary">Unwatch <i class="bi bi-x-lg"></i></button>
                            {% else %}
                            <button type="submit" class="btn btn-primary">Watch <i class="bi bi-check2"></i></button>
                            {% endif %}
                        </form>
                        {% if author %}
                        <form action="{% url 'close' listing.id %}" class="col-auto">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Close Auction <i class="bi bi-x-octagon-fill"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <hr class="mx-3">
        <section class="conteiner mx-3">
            <h3 class="bg-dark text-white rounded p-2 w-auto">Details</h3>
            <dl>
                <dt class="fs-5">Published by</dt>
                <dd>{{ listing.author.get_full_name }}</dd>
                <dt class="fs-5">Category</dt>
                <dd>{% if listing.category %}{{ listing.category }}{% else %}No Category Listed{% endif %}</dd>
            </ul>
        </section>
        <hr class="mx-3">
        <section class="conteiner mx-3">
            <h3 class="bg-dark text-white rounded p-2 w-auto">Questions</h3>
            <div class="mb-3">
                <form action="{% url 'question' listing.id %}" method="post" id="question-form">
                    {% csrf_token %}
                    <label for="{{ question_form.body.id_for_label }}" class="form-label fw-bold">
                        Add a question <i class="bi bi-chat-dots-fill"></i>
                    </label>           
                    {{ question_form.body }}
                    <button class="btn btn-info mt-2" type="submit" name="question_submit" id="question-btn">
                        Publish Question
                    </button>
                </form>
            </div>
            {% for question in listing.questions.all %}
            <dl class="bg-light p-2 rounded mb-3">
                <dt class="mb-1 fw-bold">{{ question.user }}</dt>
                <dd>{{ question.body }}</dd>
            </dl>
            {% endfor %}
        </section>
    </main>
{% endblock %}